@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  height: 100vh;
  background: -webkit-repeating-linear-gradient(-45deg, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff, #ffffff);
  background-size: 400%;
}
#error-page{
  position: absolute;
  top: 10%;
  left: 15%;
  right: 15%;
  bottom: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}
#error-page .content{
  max-width: 600px;
  text-align: center;
}
.content h1{
  font-size: 18vw;
  line-height: 1em;
  position: relative;
}
.content h1:after{
  position: absolute;
  content: attr(data-text);
  top: 0;
  left: 0;
  right: 0;
  background: -webkit-repeating-linear-gradient(-45deg, #71b7e6, #69a6ce, #b98acc, #ee8176, #b98acc, #69a6ce, #9b59b6);
  background-size: 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 1px 1px 2px rgba(255,255,255,0.25);
  animation: animate 10s ease-in-out infinite;
}
@keyframes animate {
  0%{
    background-position: 0 0;
  }
  25%{
    background-position: 100% 0;
  }
  50%{
    background-position: 100% 100%;
  }
  75%{
    background-position: 0% 100%;
  }
  100%{
    background-position: 0% 0%;
  }
}
.content h4{
  font-size: 1.5em;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #000;
  font-size: 2em;
  max-width: 600px;
  position: relative;
}
.content h4:after{
  position: absolute;
  content: attr(data-text);
  top: 0;
  left: 0;
  right: 0;
  text-shadow: 1px 1px 2px rgba(255,255,255,0.4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.content p{
  font-size: 1.2em;
  color: #0d0d0d;
}
.content .btns{
  margin: 25px 0;
  display: inline-flex;
}
.content .btns a{
  display: inline-block;
  margin: 0 10px;
  text-decoration: none;
  border: 2px solid #69a6ce;
  color: #69a6ce;
  font-weight: 500;
  padding: 10px 25px;
  border-radius: 25px;
  text-transform: uppercase;
  transition: all 0.3s ease;
}
.content .btns a:hover{
  background: #69a6ce;
  color: #fff;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Noto Sans JP', sans-serif;
}

body{
	background: #2d333f;
}

.wrapper{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}

.btn_grp{
	display: flex;
}

.btn_grp .btn{
	width: 225px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	background: #fff;
	margin: 0 10px;
	border-radius: 3px;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 14px;
}

.btn_grp .btn.btn_info,
.alert_item.alert_info{
	background: #cde8f5;
	color: #4480ae;
}

.btn_grp .btn.btn_warning,
.alert_item.alert_warning{
	background: #f8f3d6;
	color: #967132;
}

.btn_grp .btn.btn_error,
.alert_item.alert_error{
	background: #ecc8c5;
	color: #b32f2d;
}

.btn_grp .btn.btn_success,
.alert_item.alert_success{
	background: #def2d6;
	color: #5a7052;
}

.btn_grp .btn.btn_info:hover{
	background: #a5c7d8;
}

.btn_grp .btn.btn_warning:hover{
	background: #dcd4a2;
}

.btn_grp .btn.btn_error:hover{
	background: #c79995;
}

.btn_grp .btn.btn_success:hover{
	background: #adc5a5;
}

.alert_wrapper{
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 999;
	visibility: hidden;
}

.alert_backdrop{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #2d333f;
	opacity: 0.9;
	z-index: 2;
}

.alert_wrapper .alert_item{
	z-index: 3;	
	position: fixed;
	top: -100%;
	left: 50%;
	transform: translate(-50%,-50%);
	display: flex;
	align-items: center;
	padding: 25px 50px;
	border-radius: 3px;
	transition: all 0.2s ease;
}

.alert_wrapper .alert_item .data{
	margin: 0 50px;
}
.alert_wrapper .alert_item .data .title{
	font-size: 18px;
	margin-bottom: 5px;
}
.alert_wrapper .alert_item .data span{
	font-weight: 700;
}
.alert_wrapper .alert_item .data .sub{
	font-size: 14px;
	font-weight: 100;
}
.alert_wrapper .alert_item .icon{
	font-size: 32px;
}
.alert_wrapper .alert_item .close{
	cursor: pointer;
}

.alert_item.alert_info .close:hover{
	color: #a5c7d8;
}

.alert_item.alert_warning .close:hover{
	color: #dcd4a2;
}

.alert_item.alert_error .close:hover{
	color: #c79995;
}

.alert_item.alert_success .close:hover{
	color: #adc5a5;
}

.alert_wrapper.active{
	visibility: visible;
}
.alert_wrapper.active .alert_item{
	top: 50%;
}
